.empty{ 
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--gray-300);
    padding-inline: 1.5rem; 
    padding-block: 4rem; 
    gap: 1rem; 
}
 
